<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dell.ujstore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Global"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".SplashScreen"
            android:label="UncleJoy Store Partner"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:label="Login"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".SwipeTabActivity"
            android:label="UncleJoy Store Partner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp_Activity"
            android:label="SignUp"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".privacy_activity"
            android:parentActivityName=".SwipeTabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".term_activity"
            android:parentActivityName=".SwipeTabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting_activity"
            android:parentActivityName=".SwipeTabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile_activity"
            android:parentActivityName=".SwipeTabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".howworks_activity"
            android:parentActivityName=".SwipeTabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageView_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".get_started"
            android:label="@string/title_activity_get_started" />
        <activity
            android:name=".Submit"
            android:parentActivityName=".SwipeTabActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ForgetPassword" />
        <activity
            android:name=".Verify"
            android:parentActivityName=".SwipeTabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePassword"
            android:parentActivityName=".SwipeTabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About_us"
            android:parentActivityName=".SwipeTabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Contact_us"
            android:parentActivityName=".SwipeTabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Terms_Conditions"
            android:parentActivityName=".SwipeTabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrivacyPolicy"
            android:parentActivityName=".SwipeTabActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
